<div>
	<h1 class="navbar navbar-expand-lg" style="margin-left: 20px">
		Best of week
	</h1>
	<div style="gap: 0.5rem; width: 100%; display: flex; margin-left: 20px">
		<div>
			<img
				style="width: 500px; height: 300px; border-radius: 10px"
				src="../../../assets/images/SpaceX_Starship_5_teste_2.jpg"
				alt="SpaceX_Starship_5_teste"
			/>
			<p style="margin-top: 10px; width: 500px">
				<strong>SpaceX Starship Test</strong>
				<br />
				A glimpse into the future of space exploration! This image captures the
				Starship during one of its recent test flights. The advancements in
				reusable spacecraft technology are leading us closer to missions to
				Mars.
			</p>
		</div>

		<div>
			<img
				style="width: 500px; height: 300px; border-radius: 10px"
				src="../../../assets/images/OUZYQQKD4BG7HFVJING4UZIBEY.avif"
				alt="SpaceX_Starship"
			/>
			<p style="margin-top: 10px; width: 500px">
				<strong>Starship at Launchpad</strong>
				<br />
				The Starship stands tall, ready for another historic launch. Designed
				for deep space exploration, this spacecraft will soon carry humans
				farther than ever before, with the moon and Mars in its sights.
			</p>
		</div>

		<div>
			<img
				style="width: 500px; height: 300px; border-radius: 10px"
				src="../../../assets/images/3-gateway-to-mars-sign-spacex-starbase.jpg"
				alt="Starbase"
			/>
			<p style="margin-top: 10px; width: 500px">
				<strong>Gateway to Mars</strong>
				<br />
				At the heart of SpaceX's vision is Starbase, the hub for interplanetary
				missions. This iconic sign represents the starting point for humanity's
				journey to Mars, with every launch bringing us one step closer.
			</p>
		</div>
	</div>
</div>
